* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

div {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 2px 3px 7px 2px hsl(212, 45%, 89%); 
    padding: 10px;
    border-radius: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}


img {
    width: 240px;
        padding: 5px;
    border-radius: 15px;
}

h1{
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 600;
    padding-right: 5px;
    padding-left: 5px;
}

p {
    text-align: center;
    font-size: 12px;
    color: hsl(220, 15%, 55%);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 0  5px 15px 5px;
    margin-bottom: 2px;
}